<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtsp6G_M98AidXvpg8KIYSOfOZIGwb-LU</string>
	<key>GCM_SENDER_ID</key>
	<string>33183601635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quoteApp</string>
	<key>PROJECT_ID</key>
	<string>quote-app-abdo</string>
	<key>STORAGE_BUCKET</key>
	<string>quote-app-abdo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33183601635:ios:1fa325514eff02df6706d6</string>
</dict>
</plist>